{
    "min_days_till_next_paymeny": 30,
    "min_percentage_overhead": 6,
    "request_desired_discount_rate_max": 5,
    "request_has_debt": false,
    "request_income_verification_status": 4,
    "request_interest_min": 201,
    "request_principal_min": 1,
    "request_principal_max": 20
}
